#one {
    background-color: #e6e2af;
}

#two {
    background-color: #a7a37e;
}

#three {
    background-color: #efecca;
}

#four {
    background-color: #046380;
}

#zero {
    background-color: #002f2f;
    color: white;

}